# =============== #
# Unity generated #
# =============== #
RayCast/[Tt]emp/
RayCast/[Oo]bj/
RayCast/[Bb]uild
RayCast/[Ll]ibrary/
RayCast/sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
RayCast/[Ee]xported[Oo]bj/
RayCast/*.userprefs
RayCast/*.csproj
RayCast/*.pidb
RayCast/*.suo
RayCast/*.sln*
RayCast/*.user
RayCast/*.unityproj
RayCast/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
RayCast/Assets/osVer.unity
