# =============== #
# Unity generated #
# =============== #
RayCast/[Tt]emp/
RayCast/[Oo]bj/
RayCast/[Bb]uild
RayCast/[Ll]ibrary/
RayCast/sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
RayCast/[Ee]xported[Oo]bj/
RayCast/*.userprefs
RayCast/*.csproj
RayCast/*.pidb
RayCast/*.suo
RayCast/*.sln*
RayCast/*.user
RayCast/*.unityproj
RayCast/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
*.meta
RayCast/Assets/osVer.unity
RayCast/Assets/memoryLeak.cs
RayCast/game_Data/Mono/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx
RayCast/game_Data/Mono/etc/mono/1.0/machine.config
RayCast/game_Data/Mono/etc/mono/2.0/Browsers/Compat.browser
RayCast/game_Data/Mono/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
RayCast/game_Data/Mono/etc/mono/2.0/machine.config
RayCast/game_Data/Mono/etc/mono/2.0/settings.map
RayCast/game_Data/Mono/etc/mono/2.0/web.config
RayCast/game_Data/Mono/etc/mono/browscap.ini
RayCast/game_Data/Mono/etc/mono/config
RayCast/game_Data/Mono/etc/mono/mconfig/config.xml
RayCast/game_Data/PlayerConnectionConfigFile
RayCast/game_Data/Resources/unity default resources
RayCast/game_Data/Resources/unity_builtin_extra
RayCast/game_Data/mainData
RayCast/game_Data/output_log.txt
RayCast/game_Data/sharedassets0.assets
